body{
  background-color:#282c34;
}

h1{
  text-align: center;
}
.link{
  color: white;
  text-decoration: none;
}

.panel {
  width: 150px;
  background-color: lime;
  margin-left: 10px;
  text-align: center;
}

.App {
  text-align: left;
  background-color: #282c34;
  color: white;
}

.card {
  background-color: rgb(82, 82, 82);
  border: black;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.container {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: rgb(95, 95, 95);
  padding-top: 20px;
  padding-bottom: 20px;
}

link{
  color: red;
}


